<div class="row">
    <div class="col-8 col-12-medium">
        <section>
            <header>
                <h2>Les dernières opinion sur {{actor.actor}}</h2>
            </header>
            <ul class="dates">
                {% for opinion in opinions %}
                <li>
                    <span class="date">{{opinion.date|date("M")}} <strong>{{opinion.date|date("d")}}</strong></span>
                    <h4>Posté par {{opinion.username}}</h4>
                    <p>{{opinion.opinion}}</p>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>
    <div class="col-4 col-12-medium">
        <section>
            <form  method="post" action="../public/index.php?route=postOpinion&actorId={{actor.id}}">
                <label for="opinion">Donnez votre avis</label>
                <textarea id="opinion" name="opinion"  rows="4" cols="50"> Votre avis...</textarea><br>
                <div class="error">{{session.show('error_post')}}</div>
                <input type="submit" value="Envoyer" id="submit" name="submit">
            </form>

        </section>
    </div>
</div>