{% extends "base.html.twig" %}

{% block title %}Extranet GBAF{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
<div class="session">{{session.show('log_account')}}</div>

        <!-- Content -->
        <article class="box post">
            <a href="#" class="image featured"><img src="../public/img/home.jpg" alt="" /></a>
            <header>
                <h2>Le Groupement Banque Assurance Français</h2>
            </header>
            <p>
                Le GBAF est le représentant de la profession bancaire et des assureurs sur tous  les axes de la
                réglementation financière française. Sa mission est de promouvoir  l'activité bancaire à l’échelle nationale.
                C’est aussi un interlocuteur privilégié des  pouvoirs publics. 
            </p>
        </article>



    <!-- Portfolio -->
    <section>
        <header class="major">
            <h2>Liste des acteurs</h2>
        </header>
        <div class="row">
        {% for actor in actors %}
            <div class="col-6 col-12-small">
                <section class="box">
                    <a href="../public/index.php?route=getActor&actorId={{actor.id}}" class="image featured"><img src="../public/img/{{actor.logo}}" alt="{{actor.actor}}" /></a>
                    <header>
                        <h3>{{actor.actor}}</h3>
                    </header>
                    <p>{{actor.description[:250]}}...</p>
                    <footer>
                        <ul class="actions">
                            <li><a href="../public/index.php?route=getActor&actorId={{actor.id}}" class="button alt">Voir plus</a></li>
                        </ul>
                    </footer>
                </section>
            </div>
            {% endfor %}
        </div>
    </section>

    </div>
</div>
    </div>


{% endblock %}
