{% extends "base.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block content %}

<div class="session">
    {{ session.show('need_login') }}
    {{ session.show('logout') }}
    {{ session.show('create_account') }}
    {{ session.show('delete_account') }}
    {{ session.show('edit_password') }}
</div>


<div class="error">{{ errors.connexion }}</div>
<div>
    <form method="post" action="../public/index.php?route=login">
        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="username" name="username">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Connexion" id="submit" name="submit">
    </form>
</div>
<a href="../public/index.php?route=lostPass">Mot de passe oublié ?</a><br>
<a href="../public/index.php?route=register">Pas encore de compte ? Inscrivez-vous</a>

{% endblock %}